<h2>DETAIL</h2>
Title : <%= @book.title %></br>
Page  : <%= @book.page %></br>
Price : <%= @book.price %></br>
About : <%= @book.about %></br>
Author: <%= @book.author.name%></br></br>
<%= link_to "Kembali", books_path %>

<%= render 'info', popular_book: @book.title %>
		