<!DOCTYPE html>
<html>
  <head>
    <title>Belajar1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2> Belajar Ruby On Rails </h2>

    <% if current_user %>
      <div>Halo <%= current_user.name %></div>
      <%= link_to "Logout", session_path(current_user), method: :delete %>
    
    <% else %>
      Silahkan Login Terlebih Dahulu
    <% end %>

    <% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %>
    <%= yield %> 
  </body>
</html>
